$colors: (
  1: #2f184b,
  2: #532b88,
  3: #9b72cf,
  4: #c8b1e4,
  5: #f4effa,
);

$tile_colors: (
  deepWater: #003eb2,
  water: #356dc6,
  sand: #c2b280,
  dirt: #a49463,
  grass: #557a2d,
  forest: #3c6114,
  darkForest: #284d00,
  mountain: #8c8e7b,
  highMountain: #a0a28f,
  snow: #ffffff,
);

$map_info_width: 250px;
