<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>insulam</title>
    <meta name="description" content="insulam" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      href="<%= htmlWebpackPlugin.files.publicPath %>apple-touch-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=block"
      media="none"
      onload="if(media!='all')media='all'"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
